// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

// Variables
@import 'variables';

html,
body {
  background-color: $body-bg;
  color: $text-color;
  font-family: 'raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  grid-template-rows: 60px 1fr 100px;
  min-height: 100vh;

  &-header {
    background-color: $header-bg;
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    grid-template-columns: 1fr minmax(auto, 1100px) 1fr;
    grid-template-rows: 1fr;
  }

  &-footer {
    background-color: $footer-bg;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  &-content {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: 100px minmax(auto, 800px) 300px;
  }
}

.header {
  align-items: center;
  display: flex;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  min-width: 100%;

  &-left {
    justify-content: flex-start;
  }

  &-center {
    flex: 1;
  }

  &-right {
    justify-content: flex-end;
  }

  &_title {
    font-size: 1.5em;
    font-weight: 500;
  }
}

.content {
  &-left {
    grid-column: 1 / 2;
    margin: 20px;
  }

  &-right {
    background-color: #fed;
    grid-column: 3 / 4;
    margin: 20px;
  }

  &-center {
    background-color: $content-bg;
    grid-column: 2 / 3;
    margin: 20px 0;
    padding: 30px;
  }

  &-center_auth {
    grid-column: 1 / 4;
  }
}
